.row {
    text-align: center;
}

#headers > th {
    text-align: center;
}

table {
    border-collapse: collapse;
}

#listTable {
    border: 1px solid black;
    text-align: center;
}

#listTable > tbody > tr > th {
	border: 1px solid black;
}

#listTable > tbody > tr > td {
	border: 1px solid black;
}


#editPageTable {
	border: 0px solid white;
}

#editPageTable > tbody > tr > th {
	border: 0px solid white;
}

#editPageTable > tbody > tr > td {
	border: 0px solid white;
}

#controls {
    display: flex;
}

#controls > form {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.2em;
}

.editButton {
    margin-bottom: 1.1em;
    margin-left: 0.5em;
	margin-top: 0.5em;
}

.button {
	margin-top: 0.5em;
}

#validator {
	color: red;
}
